.wrapp_header h1,
.wrapp_header p {
  background: linear-gradient(to right, rgba(255, 255, 255, 1), #ff3700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  font-weight: 450;
}

.wrapp_header h1 {
  text-transform: uppercase;
  font-weight: 500;
}
.wrapp_btn {
  margin-top: 5em;
}

.btn {
  color: #fff;
  border: 1px solid transparent;
  border-image: linear-gradient(
    to right top,
    #1d7af3 10%,
    transparent 30%,
    transparent 70%,
    #003dc0 90%
  );
  border-image-slice: 1;
}
.btn:hover {
  color: #1d7af3;
  background: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.1),
    rgba(170, 170, 170, 0.1)
  );
}
.big_text {
  color: white;
  font-weight: 700;
  margin: 0;
}

.big_text span {
  font-size: small;
}

.wrapper_right {
  color: grey;
}

div p {
  font-size: 1rem;
  margin: 0;
}

.info_text {
  background: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.1),
    rgba(102, 102, 102, 0.1)
  );
  margin: 5px;
  width: 12em;
  height: 9em;
  cursor: pointer;
}

.info_text:hover,
.info_text:active {
  background: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.1),
    rgba(170, 170, 170, 0.1)
  );
}

@media (max-width: 800px) {
  .display-4 {
    font-size: 40px;
  }
  .info_text {
    width: 10em;
    height: 7em;
  }
  .row {
    margin-top: 30px;
  }
}
